import React from 'react';
import cn from 'classnames';

import { useState, useEffect } from 'react';
{{#if isStore}}
import { useSelector, useDispatch } from 'react-redux';
{{/if}}

import styles from './styles.module.css';

import type { Props } from './types';

export const Pure{{pascalCase name}} = ({ className = undefined }: Props) => {
  const style = cn(styles.{{name}}, className);

  return <div className={style}>{{pascalCase name}}</div>;
};

{{#if isStore}}
export const {{pascalCase name}} = () => {
  const dispatch = useDispatch();
  const {} = useSelector();

  return <Pure{{pascalCase name}}></Pure{{pascalCase name}}>;
};
{{/if}}