import React from 'react';
import cn from 'classnames';

import { useState, useEffect } from 'react';
{{#if isStore}}
import { useSelector, useDispatch } from 'react-redux';
{{/if}}

{{#if isPage}}
import { Main } from 'layouts/Main';
{{/if}}

import styles from './styles.module.css';

import type { Props } from './types';

export const Pure{{pascalCase name}} = ({ className = undefined }: Props) => {
  const style = cn(styles.{{lowerCase name }}, className);

  return <div className={style}>{{pascalCase name}}</div>;
};

export const {{pascalCase name}} = () => {
  {{#if isStore}}
  const dispatch = useDispatch();
  const {} = useSelector();
  {{/if}}
  {{#if isPage}}
  return (
    <Main>
      <Pure{{pascalCase name}}></Pure{{pascalCase name}}>
    </Main>
  )
  {{else}}
  return <Pure{{pascalCase name}}></Pure{{pascalCase name}}>;
  {{/if}}
};