import React from 'react';
import cn from 'classnames';

{{#if isStore}}
import { useSelector, useDispatch } from 'react-redux';
{{/if}}

{{#if isPage}}
import { Main } from 'layouts/Main';
{{/if}}

import styles from './styles.module.css';

import type { Props } from './types';

export const {{pascalCase name}} = ({ extraClass = undefined }: Props) => {
  return <div className={cn(styles.{{snakeCase name }}, extraClass)}>{{snakeCase name}}</div>;
};

{{#if isPage}}
export const Page{{pascalCase name}} = () => {
  return (
    <Main>
      {{pascalCase name}}></{{pascalCase name}}>
    </Main>
  )
};
{{/if}}